version: "3.8"

services:
  mean-app: # Átneveztem, mert ebben már benne van a Frontend és a Backend is
    build: .
    container_name: mean-production-test
    restart: always
    ports:
      - "3000:3000"
    environment:
      # A jelszót inkább .env fájlból húzzuk be (lásd lentebb)
      - MONGO_URI=${MONGO_URI}
      - NODE_ENV=production
