<nav class="navbar">
    <div class="navbar-brand">
        <a routerLink="/">Receptgyűjtemény</a>
    </div>

    <div class="navbar-menu">
        <ng-container *ngIf="!authService.isLoggedIn(); else loggedIn">
            <a routerLink="/login" class="nav-link">Bejelentkezés</a>
            <a routerLink="/register" class="nav-link">Regisztráció</a>
        </ng-container>

        <ng-template #loggedIn>
            <a routerLink="/home" class="nav-link">Főoldal</a>
            <a routerLink="/recipes" class="nav-link">Receptek</a>
            <div class="user-info">
                <span *ngIf="(authService.user$ | async) as user">{{ user.username }}</span>
                <button (click)="onLogout()" class="logout-btn">Kijelentkezés</button>
            </div>
        </ng-template>
    </div>
</nav>